*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    background-color: #8d99ae;
}

    /* navbar  */

.logo{
    width: 40px;
    height: 40px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/796/649/non_2x/illustration-graphic-of-food-plate-logo-perfect-to-use-for-food-company-free-vector.jpg');
    background-position: center;
    background-size: cover;
    border-radius:50%;
    position: absolute;
    bottom: 15px;
    left: 20px;
}

nav{
    background: #212529;
    padding: 15px 0;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

nav .menu{
    display: flex;
    justify-content: space-around;
   
}

.menu li a{
    color: #eee;
    display: block;
    padding: 10px 45px;
    border-radius: 3px;
}
.menu a:hover{
    background-color:  #343a40;
}

/* submenu  */

.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;

   
    visibility: none;
    opacity: 0;
    transition: .4s;
}

#cta{
    display: block;
    /* margin-bottom: 3px; */
}

.active:hover .submenu{
    visibility: visible;
    opacity: 1;
}






/* fotos  */


.conteiner{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img{
    width: 400px;
    height: 450px;
    margin: 10px;
    box-shadow: 0px 10px 15px -13px #000;
    border-radius: 10px;
    overflow: hidden;
}

.img-1{
    background-image: url('img/food-1.jpg');
    background-position: center;
    background-size: cover;
}

.img-2{
    background-image: url('img/food-2.jpg');
    background-position: center;
    background-size: cover;
}

.img-3{
    background-image: url('img/food-3.jpg');
    background-position: center;
    background-size: cover;
}

.img-4{
    background-image: url('img/food-4.jpg');
    background-position: center;
    background-size: cover;
}

.img:hover .info{
    display: block;
   cursor: pointer;
}

.info{
    background-color: #0007;
    width: 100%;
    height: 100%;
    display: none;
    
    
   
}

.info h2{
    text-align: center;
    color: #ef233c;
    line-height: 450px;
    font-weight: bold;
    font-size: 29px;
}


footer{
    height: 80px;
    background-color: #ef233c;
}

footer h3{
    text-align: center;
    line-height:  80px;
    color: #adb5bd;
}